#!/bin/bash

# Created with codelabba.rb v.2.3

####################
# GCP Stuff
####################
export PROJECT_ID='ric-cccwiki'
export GCLOUD_CONFIG='palladius-codelabs'
export ACCOUNT='palladiusbonton@gmail.com'
export GCLOUD_REGION='europe-west6'
export GCLOUD_ZONE='europe-west6-c'

####################
# Application-wise
####################
export APPNAME="hello-codelab"
export APP_DESCRIPTION="TODO(you): change this. What is this app trying to do in a few words"
export GKE_DEFAULT_CLUSTER="my-cluster"

####################
# Security
####################
export RICC_PRIVATE=true

#########################
# Import specific stuff
#########################

# 1. first of all
[[ -f .envrc._before ]] && source_env .envrc._before

# 2. Add other logic if you need. for instance you might include dev or prod based on some other ENV[..]
[[ -f .envrc.local ]] && source_env .envrc.local
[[ -f .envrc.private ]] && source_env .envrc.private
[[ -f .envrc.riccardo ]] && source_env .envrc.riccardo
[[ -f .envrc.dev ]] && source_env .envrc.dev
[[ -f .envrc.prod ]] && source_env .envrc.prod

# 3. Last of all
[[ -f .envrc._after ]] && source_env .envrc._after

####################
# Derived (your app)
####################

# Put here your app specific DERIVED stuff after importing your LOCAL envrc's..

####################
# Derived (generic)
####################
export REGION="$GCLOUD_REGION"
export LOCATION="$GCLOUD_REGION"
export APP_NAME="$APPNAME"
# Pulumi START
  export GOOGLE_CLOUD_PROJECT="$PROJECT_ID"
  export GOOGLE_PROJECT="$PROJECT_ID"
  export GOOGLE_REGION="$GCLOUD_REGION"
  export GOOGLE_ZONE="$GCLOUD_ZONE"
# Pulumi /END


# Note this might not works. Better to fail silently and have empty var.
export APP_VERSION=$(cat ./VERSION 2>/dev/null)
# Useful for docker
export APPNAME_WITH_VERSION="$APPNAME:v$APP_VERSION"
# if cluster is regional GKE context should look like this:
export GKE_CONTEXT="gke_$PROJECT_ID_$GCLOUD_REGION_$GKE_DEFAULT_CLUSTER"

if $RICC_PRIVATE ; then
    echo From codelabba.rb v.2.3 > .PRIVATE
else
    echo From codelabba.rb v.2.3 > .PUBLIC
fi

# uncomment this if you wish but will take always 1-2 seconds more...
#PROJECT_NUMBER=$(gcloud projects describe $PROJECT_ID --format='value(projectNumber)')

####################################################
# This is a function since it takes time to compute and we cant afford to do it in a SOURCE script
function _print_project_number() {
    gcloud projects describe $PROJECT_ID --format='value(projectNumber)'
}
